.App {
  /* text-align: center; */
}
.Main-banner {
  background-image: url('./assets/news.jpg');
  width: 100%;
  min-height: 100vh;
  background-repeat: none;
  background-size: cover;
  padding-top: 10pt;
}
.Main-banner .Navlink-bar {
  width: 100%;
  padding-left: 40%;
}
.Main-banner a {
  color: white;
  text-decoration-line: none;
  padding: 20pt;
  margin: 5pt;
  font-size: 20pt;
  cursor: pointer;
}
.Main-banner a:hover {
  background-color: white;
  color: black;
}

.Main-banner h1 {
  color: white;
  margin-left: 40pt;
  margin-top: 70vh;
  width: 70%;
  cursor: pointer;
}
.Main-banner h1:hover {
  background-color: white;
  color: black;
}
.Main-banner p {
  color: white;
  width: 50%;
  margin-left: 40pt;
}

.Wrapper h1 {
  text-align: center;
  width: 100%;
  font-size: 40pt
}

.News-info {
  width: 60%;
  margin: auto;
}
/*  */
/* } */
.News-info h2 {
  font-size: 30pt;
}
.News-info h2:hover {
  background-color: yellow;
  cursor: pointer;
}
/*  */
/* } */
.News-info img {
  width: 100%;
}
/*  */
/* } */
/* .News-info p { */
/*  */
/* } */
#date-info {
  text-align: center;
}
/*  */
/* } */

input {
  font-size: 20pt;
}

button {
  font-size: 20pt;
}

a {
  margin-right: 5pt;
}
